<!-- <router-outlet /> -->

<div class="container">

    <div class="header">
        <h1 class="title">
            TERMINATABLE
        </h1>

        <p class="sub-title">
            You can customize almost everything!
        </p>
    </div>
    <div class="content">

        <aside>
            <ul>
                <li (click)="scrollTo('basic')">Basic</li>
                <li (click)="scrollTo('frozen')">Frozen Column</li>
                <li (click)="scrollTo('strip')">Strip Row</li>
                <li (click)="scrollTo('hover')">Hover Row</li>
                <li (click)="scrollTo('row-selection')">Row Selection</li>
                <li (click)="scrollTo('color-customize')">Color Customize</li>
                <li (click)="scrollTo('multi-select')">Multi Select</li>
                <li (click)="scrollTo('drag-drop')">Drag Drop Column And Row</li>
            </ul>
        </aside>

        <main>
            <div>
                <app-basic></app-basic>
            </div>
            <div>
                <app-frozen></app-frozen>
            </div>
            <div>
                <app-strip></app-strip>
            </div>
            <div>
                <app-hover></app-hover>
            </div>
            <div>
                <app-row-selection></app-row-selection>
            </div>
            <div>
                <app-color-customize></app-color-customize>
            </div>
            <div>
                <app-multi-select></app-multi-select>
            </div>
            <div>
                <app-drag-drop></app-drag-drop>
            </div>
        </main>

    </div>
</div>