<!-- <router-outlet /> -->

<div class="container">

    <div class="header">
        <h1 class="title">
            TERMINATABLE
        </h1>

        <p class="sub-title">
            You can customize almost everything!
        </p>
    </div>
    <div class="content">

        <div>
            <app-basic></app-basic>
        </div>
        <div>
            <app-frozen></app-frozen>
        </div>
        <div>
            <app-strip></app-strip>
        </div>
        <div>
            <app-hover></app-hover>
        </div>
        <div>
            <app-row-selection></app-row-selection>
        </div>


    </div>
</div>