.container {
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    .header {
        width: 50%;
        padding: 2rem 2rem 0 2rem;
        border-bottom: 1px solid #000;
        text-align: center;
        h1 {
            color: #555555;
            margin-bottom: 1rem;
        }
    }

    .body {
        text-align: center;
        padding: 2rem;
        p {
            font-size: 20px;
        }
        
    }
}