<router-outlet />

<div style="height: 100%; width: 100%; padding-top: 5%; background-color: aquamarine;">
    <div style="height: 80%; width: 80%; margin-left: 10%; background-color: #fff;">
        <terminatable (onChange)="onChange($event)" (onRowSelect)="onRowSelect($event)" [config]="config" [columns]="columns" [data]="data">
            <ng-template #caption>
                <span class="text-md font-bold">
                    User List
                </span>
            </ng-template>
            <ng-template #footer>
                <span class="text-md font-bold">
                    Footer
                </span>
            </ng-template>
        </terminatable>
    </div>
</div>

<ng-template #caption>
</ng-template>