<div id="row-selection">
    <p class="title">Row Selection</p>
    <div id="tabs">
        <div id="tab">
            <ul>
                <li
                    *ngFor="let tab of tabs | tabs:'row-selection'"
                    [class]="selectedTab === tab.id ? 'selected': ''"
                    (click)="selectedTab = tab.id">
                    <span>{{tab.title}}</span>
                </li>
            </ul>
        </div>
        <div id="content">
            <div id="{{selectedTab}}" *ngIf="selectedTab === 'preview'">
                <terminatable
                [config]="config"
                [columns]="columns"
                [data]="data"
                (onRowSelect)="onRowSelect($event)"
                ></terminatable>
            </div>
            <div *ngIf="selectedTab === 'columns'">
                <pre><code [highlight]="columnsCode" language="typescript" lineNumbers></code></pre>
            </div>
            <div *ngIf="selectedTab === 'config'">
                <pre><code [highlight]="configCode" language="typescript" lineNumbers></code></pre>
            </div>
            <div *ngIf="selectedTab === 'html'">
                <pre><code [highlight]="htmlCode" language="typescript" lineNumbers></code></pre>
            </div>
            <div *ngIf="selectedTab === 'data'">
                <pre><code [highlight]="dataCode" language="typescript" lineNumbers></code></pre>
            </div>
            <div *ngIf="selectedTab === 'event'">
                <pre><code [highlight]="eventCode" language="typescript" lineNumbers></code></pre>
            </div>
        </div>
    </div>
</div>
