/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


@import '../node_modules/highlight.js/styles/androidstudio.css';

.container {
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 8rem;
    @media (max-width: 1260px) {
        padding: 0 6rem;
    }
    @media (max-width: 960px) {
        padding: 1rem;
    }
    @media (max-width: 720px) {
        padding: 2rem;
    }

    .header {
        width: 100%;
        padding: 2rem 1rem 0 1rem;
        text-align: center;

        h1 {
            &.title {
                color: #555555;
                margin-bottom: 1rem;
            }
        }
        .sub-title {
            border-top: 1px solid #000;
            padding-top: 2rem;
            color: #555555;
            margin-bottom: 1rem;
        }
    }

    .content {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        @media (max-width: 720px) {
            flex-direction: column;
        }

        aside {
            width: 20%;
            padding: 0 1rem;
            position: sticky;
            top: 168px;
            max-height: 70vh;
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                li {
                    background-color: #e6f0ff;
                    padding: 0.6rem 0.3rem;
                    border: 2px solid #b8d4fe;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover {
                        background-color: #cadfff;
                        border: 2px solid #91b2e3;
                    }
                }
            }
            @media (max-width: 720px) {
                width: 100%;
                position: inherit;
            }
        }

        main {
            width: 80%;
            padding: 0 1rem;
            border-left: 2px solid #e7e7e7;
            @media (max-width: 720px) {
                width: 100%;
                margin-top: 1rem;
                padding-top: 1rem;
                border-top: 2px solid #e7e7e7;
                border-left: none;
            }
            &>*:not(:last-child){
                margin-bottom: 100px;
            }
            .title {
                padding: 1.5rem;
                font-size: 1.5rem;
                color: #555555;
                text-align: center;
                background-color: #e6f0ff;
                margin-bottom: 1rem;
            }
    
    
            #tabs {
                // margin-top: 4rem;
                display: flex;
                flex-direction: column;
                border: 2px solid #6aa3ff;
                // border-bottom-left-radius: 5px;
                // border-bottom-right-radius: 5px;
    
                #tab {
                    overflow: hidden;
                    background-color: #C5DBFF;
                    height: 3rem;
                    // padding: 0.75rem 0.5rem;
    
                    ul {
                        height: 100%;
                        list-style-type: none;
                        display: flex;
                        // gap: 1rem;
                        justify-content: flex-end;
                        li {
                            cursor: pointer;
                            height: 100%;
                            padding: 0.75rem 0.5rem;
                            font-size: 1rem;
                            &.selected {
                                background-color: #6aa3ff;
                                color: #fff;
                            }
                        }
                    }
    
                    button {
                        background-color: inherit;
                        float: left;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        padding: 14px 16px;
                        transition: 0.3s;
                        font-size: 17px;
                    }
                }
    
                #content {
                    height: 590px;
                    overflow: auto;
                    background-color: #282b2e;
                    #preview {
                        padding:1rem;
                        background-color: #fff;
                    }
                }
            }
        }


    }
}