* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


#terminatable {
    position: relative;
    height: 100%;

    .table-caption,
    .table-footer {
        height: 50px;
        padding: 0.5rem;
        background-color: #FFF;
    }

    .table-caption {
        border-bottom: 1px solid #F0F0F0;
    }

    .table-footer {
        border-top: 1px solid #F0F0F0;
    }

    .table-container {
        position: relative;
        overflow: auto;


        table {
            border-collapse: separate;
            border-spacing: 0;
            width: 100%;
            tr{
                line-height: 8px;
                background-color: #FFFFFF;
                color: #4b5563;
            }
            .move {
                opacity: 0.4;
            }

            thead {
                position: sticky;
                border-spacing: 0;
                top: 0;
                z-index: 2;

                tr {
                    th {
                        text-align: left;
                        padding: 1rem 1rem;
                        font-weight: 700;
                        font-size: 16;
                        font-weight: bold;
                        background: inherit;
                        &.freeze {
                            position: sticky;
                            left: 0;
                            z-index: 1;
                        }
                    }
                    §.checkbox {
                        position: sticky;
                        left: 0;
                        z-index: 1;
                    }
                }
            }

            tbody {
                &.strip {
                    tr {
                        &:nth-child(odd) {
                            background-color: #F0F0F0;
                        }
                    }
                }
                &.hoverable {
                    tr:hover{
                        background-color: #C5DBFF;
                        color: #4b5563;
                    }
                }
                &.selectable {
                    tr.selected {
                        background-color: #6aa3ff;
                    }
                }
                tr {
                    transition: box-shadow 0.2s;
                    td {
                        text-align: left;
                        background: inherit;
                        padding: 1rem 1rem;
                        height: 52px;
                        border-top: 1px solid #F0F0F0;
                        &.freeze {
                            position: sticky;
                            left: 0;
                            z-index: 1;
                        }
                    }
                    &:last-child {
                        td {
                            border-bottom: 1px solid #F0F0F0;
                        }
                    }
                }
            }
        }
    }
}